.style_red_1JcVG {
  color: blue;
}
.style_red_1JcVG .style_pink_1k9aR {
  background-color: pink;
}
.style_container44_1QKKR {
  margin-top: 20px;
  margin-left: 20px;
  height: 600px;
}
.style_container44_1QKKR .style_diapear_2KEpt {
  display: none;
}
.style_item_2UWXJ {
  line-height: 34px;
  font-size: 16px;
  color: #666;
}
.style_svg_gd9z2 {
  display: inline-block;
  height: 50px;
  width: 50px;
}

